.button {
    --button-bg: rgba(52, 42, 33, 0);
    --button-color: #ffffff;
    --button-hover-bg: #4b4b4a;
    --button-hover-color: #ffffff;
    --button-border-width: 3;
    --button-border-style: solid;
    --button-border-color: var(--button-bg);
    --button-radius: 0.5em;
    --button-gap: 0.5em;
    --button-padding: 0.7em 1.2em;
    --button-font-weight: 700;
    --button-font-size: 1em;
    --button-icon-size: 1.2cap;
    --button-outline-width: 3px;
    --button-outline-style: solid;
    --button-outline-color: var(--button-bg);
    --button-outline-offset: -3px;
    --button-shadow: none;

    display: inline-flex;
    align-items: center;
    gap: var(--button-gap, 0.5em);
    padding: var(--button-padding, 0.7em 1.2em);

    background: var(--button-bg);
    color: var(--button-color);

    border-width: var(--button-border-width);
    border-style: var(--button-border-style);
    border-color: var(--button-border-color);
    border-radius: var(--button-radius);

    box-shadow: var(--button-shadow);

    text-decoration: none;
    font-weight: var(--button-font-weight, 700);
    font-size: var(--button-font-size, 1em);
    letter-spacing: 0.05ch;
    font-family: sans-serif;
    line-height: 1.1; /* Set or buttons will be different sizes (<a>/<button>) */

    cursor: pointer;
}

.button svg {
    height: var(--button-icon-size, 1.2cap);
    width: auto;
    flex: none;
}

/* Hover/focus/active */
.button:hover {
    background: var(--button-hover-bg);
    color: var(--button-hover-color);
}

.button:focus {
    outline-width: var(--button-outline-width, var(--button-border-width));
    outline-style: var(--button-outline-style, var(--button-border-style));
    outline-color: var(--button-outline-color, var(--button-border-color));
    outline-offset: var(
            --button-outline-offset,
            calc(var(--button-border-width) * 2px)
    );
}

.button:active {
    transform: scale(99%);
}
