.button-group {
    display: flex;
}

.button-box[data-type="preset-tag"].button-group {
    background-color: red;
}

.button-box[data-type="widget-type"].button-group {
    background-color: blue;
}

.button-group > .button.selected {
    background-color: yellow;
}