.items-list {
    column-count: 4;
    padding-top: 16px;
}

.items-list > * {
    break-inside: avoid; /* Prevent items from breaking across columns */
    margin-bottom: 16px; /* Space between items vertically */
}