.modal {
    display: flex;
    flex-direction: column;
    z-index: 100;
    position: fixed;
    left: 10px;
    top: 16px;

    border-radius: 16px;
    padding: 24px;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    overflow: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-image: linear-gradient(#ff6b6b99, #00000099);
    color: black;
    animation: slideIn 0.3s ease-out;
    backdrop-filter: blur(3px);
    filter: url(#glass-distortion);
    outline: solid rgba(255, 255, 255, 0.2);
    text-align: center;
    transition: height 0.3s;
}

.header {
    position: absolute;
    right: 10px;
    top: 26px;
}
.modal_currentSpace-name {
    color: red;
}