@import "modal-edit-stream.css";

.modal#modal-edit {
    background-image: linear-gradient(#6BC6FF99, #00000099);
    height: calc(100vh - 20px);
    overflow: auto;
}

.modal-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

