@import "standart.css";
@import "modals.css";
@import "modal-edit.css";
@import "buttons.css";
@import "widgets.css";
@import "presets.css";
@import "streams.css";
@import "checkboxes.css";
@import "text-field.css";
@import "items-list.css";
@import "button-group.css";
@import "resizable.css";


.space {
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    transition: opacity 0.2s ease-in-out;
}

.space--transitioning {
    opacity: 0.1; /* or adjust to your preference */
}

.space--fixed {
    background-attachment: fixed;
}
