@import "../styles/standart.css";
@import "../styles/modals.css";
@import "../styles/modal-edit.css";
@import "../styles/buttons.css";
@import "../styles/widgets.css";
@import "../styles/presets.css";
@import "../styles/streams.css";
@import "../styles/checkboxes.css";
@import "../styles/text-field.css";
@import "../styles/items-list.css";
@import "../styles/button-group.css";
@import "../styles/resizable.css";
@import "tailwindcss";


.space {
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    transition: opacity 0.2s ease-in-out;
}

.space--transitioning {
    opacity: 0.1; /* or adjust to your preference */
}

.space--fixed {
    background-attachment: fixed;
}


