.button[data-type="play"] {
    --button-bg: rgba(255, 255, 255, 0.1);
    --button-color: #ffffff;
    --button-hover-bg: rgba(255, 255, 255, 0.2);
    --button-hover-color: #ffffff;
    --button-border-width: 2px;
    --button-border-style: solid;
    --button-border-color: rgba(255, 255, 255, 0.25);
    --button-radius: 50%;
    --button-gap: 0.1em;
    --button-padding: 0.4em 0.5em;
    --button-font-weight: 500;
    --button-icon-size: 1.1cap;
    --button-outline-width: 0px;
    --button-outline-style: none;
    --button-outline-color: transparent;
    --button-outline-offset: 0px;
    --button-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 2px 0 rgba(0, 0, 0, 0.2),
    0 4px 12px 0 rgba(0, 0, 0, 0.15);
}

.music-player {
    font-size: 1em;
    display: flex;
    align-items: center;
}


.music-player__volume {
    display: flex;
    align-items: center;
    color: aliceblue;;
}

.music-player__volume input {
    fill: none;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    height: 2.7rem;
    width: 28rem;
}
