.music-player {
    --info-color: #898989;
    --navigation-color: #1beb9e;
    --controls-color: #b462ff;
    color: #898989;
    background-color: #1a1a1a;
    font-size: 1em;

    padding: 8px;
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    width: 300px;
}

.music-player div {
    text-align: center;
    padding: 10px 0;

}

/* Info Section */
.music-player .info {
    display: flex;
    justify-content: center;
    gap: 80px;
    color: var(--info-color);
    border-bottom: 1px solid rgba(137, 137, 137, 0.2);
    padding: 6px 0;
}

.music-player .info .title {
    font-size: 1.4em;
    font-weight: 600;
}


.music-player .info .button {
    color: var(--info-color);
    --button-hover-bg: var(--info-color);
}

/* Navigation Section */

.music-player .navigation .button {
    color: var(--navigation-color);
    --button-hover-bg: var(--navigation-color);
}


/* Controls Section */
.music-player .controls {
    border-top: 1px solid rgba(180, 98, 255, 0.2);
}

.music-player .controls .progress {
    min-width: 70px;
    text-align: center;
    color: var(--info-color);
}



.music-player .button {
    font-weight: 600;
    padding: 4px;
}

.music-player .controls .button {
    color: var(--controls-color);
    --button-hover-bg: var(--controls-color);
}

.music-player .controls .button:hover {
    color: black;
    background-color: var(--controls-color);
}

/* General Button Styling */
.music-player .button {
    --button-padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 0.95em;
    border-radius: 0;
    outline: none;
}

.music-player .button:hover {
    color: black;
}

.music-player .button:active {
    transform: scale(0.95);
}

.music-player .navigation .button:disabled {
    cursor: not-allowed;
    color: var(--info-color);
    --button-hover-bg: transparent;
}