.button[data-type="new-preset"], .preset-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.preset-card {
    width: 300px;
}
.preset-cover {
    position: absolute;
    top: 0;
    left: 0;
    object-position: bottom;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease, filter 0.3s ease;
    &:hover {
        transform: scale(1.15);
        filter: brightness(0.85);
    }
}
.preset-tags {
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 2;
}

.preset-tags .tag {
    background-color: rgba(255, 5, 0, 0.5);
    width: fit-content;
    border-radius: 5px;
    padding: 3px;
    font-size: 12px;
}

.preset-title {
    color: white;
    position: absolute;
    bottom: 6px;
    left: 6px;
    z-index: 2;
}


.button[data-type="new-preset"] {
    --button-bg: gray;
}
