@import "standart.css";

.space {
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.modal-open-widget {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background: red;
    width: 300px;
    height: 50px;
    z-index: 100;
}

.space--fixed {
    background-attachment: fixed;
}