@import "standart.css";
@import "modals.css";
@import "widgets.css";
@import "buttons.css";

.space {
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.modal {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.space--fixed {
    background-attachment: fixed;
}