@import "standart.css";
@import "modals.css";
@import "widgets.css";
@import "buttons.css";
@import "checkboxes.css";
@import "resizable.css";


.space {
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    transition: opacity 0.2s ease-in-out;
}

.space--transitioning {
    opacity: 0.1; /* or adjust to your preference */
}

.modal {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.space--fixed {
    background-attachment: fixed;
}