.text-field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 50px;
    border-radius: 100px;
    transition: transform ease-out 300ms;
    overflow: hidden;



}
.text-field input {
    height: 100%;
    width: 100%;
    padding: 16px 0;
    transition: width ease-out 300ms;
    background: none;
    border: none;
    outline: none;
    color: white;
    margin: 12px 16px;
    :hover {
        transform: scale(1.05);
    }
}