@import "background.css";
@import "musicPlayer.css";

/* Widget Header */
.widget__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: move;
}


/* Widget Content */

.widget {
    --x: 10px;
    --y: 10px;
    position: absolute;
    top: var(--y);
    left: var(--x);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    max-width: 500px;
    animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




/* Widget Content */
.widget__content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}


.liquidGlass-effect {
    height: fit-content;
    box-sizing: border-box;
    transition: outline 0.2s;
    padding: 4px;
    .button[data-type="close"] {
        color: transparent;
        transition: color 0.2s;
        border-radius: 50%;
        padding: 0;
        margin-right: 10px;
    }
}

.liquidGlass-effect:hover {
    backdrop-filter: blur(3px);
    filter: url(#glass-distortion);
    outline: solid rgba(255, 255, 255, 0.2);
}

.liquidGlass-effect:hover .widget__header {
    .button {
        color: #ffffff;
    }
}