.items-list-wrapper[data-type="stream-parts"] {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    min-height: 350px;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    border: 1px dashed rgba(107, 198, 255, 0.2);
}


.stream-card-part {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    background: rgba(107, 198, 255, 0.1);
    border-left: 3px solid #6BC6FF;
    color: #ffffff;
    gap: 1rem;
    border-radius: 10px;

    .title {
        color: #BF0000;
    }
    .cover {}
    .information {}
    .type {
        color: #00C600;
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
    .duration {}

    .button[data-type="remove"] {
        position: absolute;
        top: 5px;
        right: 5px;
        border-radius: 50%;
        padding: 4px;
    }
}

